{% load static %}
<!DOCTYPE html>
<html lang="en">
    
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="refresh" content="100"> 
        
        <link rel="icon" href="{%static 'cake/img/fav-icon.png'%}" type="image/x-icon" />
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Aynalem Cake - Bakery</title>
		
        <!-- Icon css link -->
        <link href="{%static 'cake/css/font-awesome.min.css'%}" rel="stylesheet">
        <link href="{%static 'cake/vendors/linearicons/style.css'%}" rel="stylesheet">
        <link href="{%static 'cake/vendors/flat-icon/flaticon.css'%}" rel="stylesheet">
        <!-- Bootstrap -->
        <link href="{%static 'cake/css/bootstrap.min.css'%}" rel="stylesheet">
        
        <!-- Rev slider css -->
        <link href="{%static 'cake/vendors/revolution/css/settings.css'%}" rel="stylesheet">
        <link href="{%static 'cake/vendors/revolution/css/layers.css'%}" rel="stylesheet">
        <link href="{%static 'cake/vendors/revolution/css/navigation.css'%}" rel="stylesheet">
        <link href="{%static 'cake/vendors/animate-css/animate.css'%}" rel="stylesheet">
        
        <!-- Extra plugin css -->
        <link href="vendors/owl-carousel/owl.carousel.min.css" rel="stylesheet">
        <link href="vendors/magnifc-popup/magnific-popup.css" rel="stylesheet">
        
        <link href="{%static 'cake/css/style.css'%}" rel="stylesheet">
        <link href="{%static 'cake/css/responsive.css'%}" rel="stylesheet">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        
        <!--================Main Header Area =================-->
		<header class="main_header_area">
			<div class="top_header_area row m0">
				<div class="container">
					<div class="float-left">
						{% for x in item %}
        				
						
						<a href="{{ x.phoneNo }}"><i class="fa fa-phone" aria-hidden="true">{{ x.phoneNo }}</i> </a>
						<a href="{{ x.telegramlink}}"><i class="fa fa-envelope-o" aria-hidden="true"></i> {{ x.telegramlink}}</a>
						{% endfor %}
					</div>
					<div class="float-right">
						<ul class="h_social list_style">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
						</ul>
						<ul class="h_search list_style">
							<li class="shop_cart"><a href="#"><i class="lnr lnr-cart"></i></a></li>
							<li><a class="popup-with-zoom-anim" href="#test-search"><i class="fa fa-search"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="main_menu_area">
				<div class="container">
					<nav class="navbar navbar-expand-lg navbar-light bg-light">
						<a class="navbar-brand" href="index.html">
						<img src="{%static 'cake/img/logo.png'%}" alt="">
						<img src="{%static 'cake/img/logo-2.png'%}" alt="">
						</a>
						<button class="navbar-toggler" type="#" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<span class="my_toggle_menu">
                            	<span></span>
                            	<span></span>
                            	<span></span>
                            </span>
						</button>
						<div class="collapse navbar-collapse" id="navbarSupportedContent">
							<ul class="navbar-nav mr-auto">
								<li><a href="#">Home</a></li>
								
								<li class="dropdown submenu">
									<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Menu</a>
									<ul class="dropdown-menu">
										
										<li><a href="#menu">menu</a></li>
									</ul>
								</li>
								<li class="dropdown submenu">
									<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">About Us</a>
									<ul class="dropdown-menu">
										<li><a href="{% url 'about' %}">About Us</a></li>
										
									</ul>
								</li>
							</ul>
							<ul class="navbar-nav justify-content-end">
								<li class="dropdown submenu">
									<li><a href="#services">Services</a></li>
									<li><a href="{% url 'gallary1' %}">Gallery </a></li>
								</li>

								
								<li><a href="#contact">Contact Us</a></li>
							</ul>
						</div>
					</nav>
				</div>
			</div>
		</header>
        
      
		
        <!--================End Welcome Area =================-->
        
        <!--================Special Recipe Area =================-->
		
		<section class="welcome_bakery_area">
        	<div class="container">
        		<div class="welcome_bakery_inner p_100">
        			<div class="row">
        				<div class="col-lg-6">
        					<div class="main_title">
								<h2>Welcome to our Bakery!</h2>
								
								<p>እንኳን ወደ ሳይታችን በደህና መጡ! ፈጣን እና ቀልጣፋ የሆነ አገልግሎት እንሰጣለን። ኬክዎን ከኛ ዘንድ ካሰሩ ደስታዎ እጥፍ ይሆናል።</p>
							</div>
        					<div class="welcome_left_text">
								{% for y in item %} 
        						    <p>{{ y.about }}</p>
        						{% endfor %}
								<a class="pink_btn" href="{% url 'about' %}">Know more about us</a>
        					</div>
        				</div>
        				<div class="col-lg-6">
        					<div class="welcome_img">
								{% for i in item %}
								<img class="img-fluid" src="{{i.profilepic.url}}" alt=""  >
        				
						        {% endfor %}
        						
        					</div>
        				</div>		
        			</div>
        		
        </section>
		
        <!--================End Special Recipe Area =================-->
        
        <!--================Service Area =================-->
        <section id="services"class="service_area">
        	<div class="container">
        		<div class="single_w_title">
        			<h2>በ ልዩነት የምናዘጋጃቸው የ ኬክ አይነቶች</h2>
        		</div>
        		<div class="row service_inner">
        			<div class="col-lg-4 col-6">
        				<div class="service_item">
        					<i class="flaticon-food-2"></i>
        					<h4>የደስታ ቀን ኬክ </h4>
        					<p>በ ደስታዎ ቀን እኛ ደስታዎን ሙሉ ለማረግ የሚፈልጉትን ኬክ በሚፈልጉት መልክ ከ ተጨማሪ ሙሉ ኩኪስ ጋር እናዘጋጅልዎታለን። </p>
							<div class="col-lg-6">
        					
								<div class="welcome_left_text">
									
									<a class="pink_btn" href="{% url 'gallary1' %}">ምስሎችን ለመመልከት !</a>
								</div>
							</div>
        				</div>
        			</div>
        			<div class="col-lg-4 col-6">
        				<div class="service_item">
        					<i class="flaticon-food-1"></i>
        					<h4>የልደት ኬክ</h4>
        					<p>በ እርስዎ እና በቤተሰብዎ የልደት ቀን እኛ ከጎንዎ ነን። ከሙሉ ኩኪስ ጋር።</p>
							<div class="col-lg-6">
        					
								<div class="welcome_left_text">
									
									<a class="pink_btn" href="{% url 'gallary1' %}">ምስሎችን ለመመልከት !</a>
								</div>
							</div>
        				</div>
        			</div>
        			<div class="col-lg-4 col-6">
        				<div class="service_item">
        					<i class="flaticon-food"></i>
        					<h4>የበዓላት ኬክ /የ ዓመት በአል ኬክ</h4>
        					<p>አመታዊ እና ወርሃዊ በዓልዎን ልናደምቅልዎ ዝግጁ ነን።</p>
							<div class="col-lg-6">
        					
								<div class="welcome_left_text">
									
									<a class="pink_btn" href="{% url 'gallary1' %}">ምስሎችን ለመመልከት !</a>
								</div>
							</div>
        				</div>
        			</div>
					<div class="col-lg-4 col-6">
        				<div class="service_item">
        					<i class="flaticon-food"></i>
        					<h4>የጋብቻ ኬክ እና ለሎችም</h4>
        					<p>የ ጋብቻ ቀንዎን እና ሌሎች ሴሪሞኒዎትን ሊያደምቁ በሚችሉ ኬክ እና ኩኪስ ከጎንዎ ሆነን ልናደምቅልዎ ዝግጁ ነን።</p>
							<div class="col-lg-6">
        					
								<div class="welcome_left_text">
									
									<a class="pink_btn" href="{% url 'gallary1' %}">ምስሎችን ለመመልከት !</a>
								</div>
							</div>
        				</div>
        			</div>
						
					
        		</div>
        	</div>
        </section>

        <section id="menu" class="discover_menu_area">
        	<div class="discover_menu_inner">
        		<div class="container">
					
        			<div class="main_title">
						<h2>የኬኮች ዝርዝር</h2>
						<h5>ከምናዘጋጃቸው ኬኮች ፦ </h5>
					</div>
					{% for i in items %}
       				<div class="row">
       					<div class="col-lg-6">
       						<div class="discover_item_inner">
       							<div class="discover_item">
									
									
									   <span>
									   <img  src="{{ i.image.url }}" alt="" height="200" width="250">
						               <h4>{{ i.name }}</h4>
									   <p>{{ i.discription }} <br><h6 >${{ i.price }}</h6></p>
								       </span>
									
									<a class="pink_btn" href="{% url 'gallary1' %}">ተጨማሪ ይመልከቱ !</a>
								</div>
       							
       						</div>
       					</div>
       					
       				</div>
					   {% endfor %}
        		</div>
        	</div>
        </section>

        
        <!--================Newsletter Area =================-->
        
        <!--================End Newsletter Area =================-->
        
        <!--================Footer Area =================-->
	 <section id="contact">
        <footer class="footer_area">
        	<div class="footer_widgets">
        		<div class="container">
        			<div class="row footer_wd_inner">
        				<div class="col-lg-3 col-6">
        					<aside class="f_widget f_about_widget">
        						<img src="{%static 'cake/img/footer-logo.png'%}" alt="">
        						<p>የሚፈልጉትን የ ኬክ አይነት በፈለጉት ድዛይን ሰርተን በተፈለገበት ሰአት እናደርሳለን።<br>ስለጎበኙን እናመሰግናለን !</p>
        						<ul class="nav">
        							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
        							<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
        							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
        							<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
        						</ul>
        					</aside>
        				</div>
        				<div class="col-lg-3 col-6">
        					<aside class="f_widget f_link_widget">
        						<div class="f_title">
        							<h3>Quick links</h3>
        						</div>
        						<ul class="list_style">
        							<li><a href="">home</a></li>
        							<li><a href="#menu">menu</a></li>
        				            <li><a href="#contact">contact-us</a></li>
									<li><a href="#pages">pages</a></li>
        						</ul>
        					</aside>
        				</div>
        				<div class="col-lg-3 col-6">
        					<aside class="f_widget f_link_widget">
        						<div class="f_title">
        							<h3>Work Times</h3>
        						</div>
        						<ul class="list_style">
        							{% for i in item %}
						               <h4>{{ i.worktime }}</h4>
        				
						            {% endfor %}
        						</ul>
        					</aside>
        				</div>
					    
        				    <div class="col-lg-3 col-6">
        					    <aside class="f_widget f_contact_widget">
        						    <div class="f_title">
        							 <h3>Contact Info</h3>
        						    </div>

        						    {% for it in item %}
						               <h4>{{ it.phoneNo }}</h4>
									   <h5>{{ it.email }}</h5>
									   <h5>{{ it.location }}</h5>
									   
						            {% endfor %}
        						    
        						    
        					   </aside>
        				    </div>
					    
        			</div>
        		</div>
        	</div>
        	
        </footer>
	 </section>
 
        
        
        
        
        
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="{%static 'cake/js/jquery-3.2.1.min.js'%}"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{%static 'cake/js/popper.min.js'%}"></script>
        <script src="js/bootstrap.min.js"></script>
        <!-- Rev slider js -->
        <script src="{%static 'cake/vendors/revolution/js/jquery.themepunch.tools.min.js'%}"></script>
        <script src="{%static 'cake/vendors/revolution/js/jquery.themepunch.revolution.min.js'%}"></script>
        <script src="{%static 'cake/vendors/revolution/js/extensions/revolution.extension.actions.min.js'%}"></script>
        <script src="{%static 'cake/vendors/revolution/js/extensions/revolution.extension.video.min.js'%}"></script>
        <script src="{%static 'cake/vendors/revolution/js/extensions/revolution.extension.slideanims.min.js'%}"></script>
        <script src="{%static 'cake/vendors/revolution/js/extensions/revolution.extension.layeranimation.min.js'%}"></script>
        <script src="{%static 'cake/vendors/revolution/js/extensions/revolution.extension.navigation.min.js'%}"></script>
        <!-- Extra plugin js -->
        <script src="{%static 'cake/vendors/owl-carousel/owl.carousel.min.js'%}"></script>
        <script src="{%static 'cake/vendors/magnifc-popup/jquery.magnific-popup.min.js'%}"></script>
        <script src="{%static 'cake/vendors/datetime-picker/js/moment.min.js'%}"></script>
        <script src="{%static 'cake/vendors/datetime-picker/js/bootstrap-datetimepicker.min.js'%}"></script>
        <script src="{%static 'cake/vendors/nice-select/js/jquery.nice-select.min.js'%}"></script>
        <script src="{%static 'cake/vendors/jquery-ui/jquery-ui.min.js'%}"></script>
        <script src="{%static 'cake/vendors/lightbox/simpleLightbox.min.js'%}"></script>
        
        <script src="{%static 'cake/js/theme.js'%}"></script>
    </body>

</html>